@model IEnumerable<CrudBase.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOM_CLIE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.APE_CLIE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTACTO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOM_CLIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APE_CLIE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONTACTO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_CLIE">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_CLIE">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_CLIE">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
